<div class="kido-landing--content">
  <div class="kido-landing--logo">
    <img src="./assets/logo/png/64x64.png" draggable="false" />
    <div class="kido-landing--logo-title">Kido</div>
  </div>

  <div class="kido-landing--cards">
    <kido-card>
      <kido-card-title class="kido-card--icon">
        <span class="fas fa-bug"></span>
      </kido-card-title>
      <kido-card-title>Quality</kido-card-title>
      <kido-card-body>
        Increase quality by finding bugs and preemptively fixing them
        prior to client development.
      </kido-card-body>
    </kido-card>

    <kido-card>
      <kido-card-title class="kido-card--icon">
        <span class="fas fa-stopwatch"></span>
      </kido-card-title>
      <kido-card-title>Performance</kido-card-title>
      <kido-card-body>
        Monitor performance metrics to point out and improve scallability issues
        early on.
      </kido-card-body>
    </kido-card>

    <kido-card>
      <kido-card-title class="kido-card--icon">
        <span class="fas fa-code"></span>
      </kido-card-title>
      <kido-card-title>Independence</kido-card-title>
      <kido-card-body>
        Develop and test server code independently from your client.
      </kido-card-body>
    </kido-card>
  </div>

  <div class="kido-landing--actions">
    <button
      kido-button
      color="info"
      size="lg"
      (click)="getStarted()"
    >
      Get Started!
    </button>
  </div>
</div>

<div class="kido-landing--bottom-right">
  {{ (systemService.system$ | async).version }}
</div>
