.kido-landing {
  display: block;
  height: 100%;
  width: 100%;

  .kido-landing--logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    .kido-landing--logo-title {
      margin: auto 20px;
      color: var(--white);
      font-size: 30px;
    }
  }

  .kido-landing--content {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    .kido-landing--cards {
      display: flex;

      kido-card {
        max-width: 250px;
        margin: auto;

        kido-card-title {
          text-align: center;

          &.kido-card--icon {
            font-size: 50px;
          }
        }

        kido-card-body {
          height: 150px;
        }
      }
    }

    .kido-landing--actions {
      padding: 10px;
      text-align: center;
    }
  }

  .kido-landing--bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10pt;
  }
}
