@import '../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;

  kido-json-viewer {
    flex: 1;
    border: none;
    min-height: 0px;
    min-width: 0px;

    &.mac {
      padding-top: $titlebar-height - 2px;
    }
  }
}
