:host {
  display: flex;
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.active {
    box-shadow: -12px 0 0 -8px var(--info) inset;
    opacity: 1;
  }

  kido-img-icon {
    margin-right: 10px;
  }

  .stream-list-item--details {
    flex: 1 1 auto;

    .stream-list-item--title {
      font-size: 11pt;
    }
  }

  .stream-list-item--actions {
    margin: auto 5px auto 5px;
  }
}

