:host {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--hairline-regular);
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &.active {
    box-shadow: -13px 0 0 -8px var(--info) inset;
    opacity: 1;
  }

  kido-img-icon {
    margin-right: 10px;
  }

  .stream-list-item--details {
    flex: 1 1 auto;
    max-width: 80%;

    .stream-list-item--title {
      font-size: 11pt;
    }
  }

  .stream-list-item--actions {
    margin: auto;
  }
}

