<kido-socket-icon [type]="stream.type"></kido-socket-icon>

<div class="stream-list-item--details ellipsis">
  <div class="stream-list-item--title ellipsis">
    {{ stream.name }}
  </div>
</div>

<div class="stream-list-item--actions">
  <kido-connection-icon
    [type]="connected ? 'connected' : 'disconnected'"
    [ngbTooltip]="elapseTpl"
    [disableTooltip]="!connected"
    container="body"
    placement="right"
  ></kido-connection-icon>
</div>

<ng-template #elapseTpl>
  {{ connected | kidoElapseTime }}
</ng-template>
