:host {
  display: inline-block;
  border-radius: 100px;
  border-width: 1.5px;
  border-style: solid;
  height: 10px;
  width: 10px;

  &.kido-connection-icon--disconnected {
    border-color: var(--text-muted);
  }

  &.kido-connection-icon--connected {
    border-color: var(--success);
    background-color: var(--success);
  }
}
