.stream-detail {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  min-width: 0px;

  .stream-detail--form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0px;
    min-width: 0px;

    .stream-detail--form-header {
      margin-bottom: 10px;
      padding: 10px;

      .kido-input {
        .form-control {
          background-color: var(--bg-dark);
        }
      }

      .kido-select {
        .form-control {
          font-weight: bold;
        }
      }
    }

    .stream-detail--form-content {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      min-height: 0px;
      min-width: 0px;

      .stream-detail--messenger {
        display: flex;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;
      }

      .stream-detail--json {
        display: flex;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;

        .kido-json-viewer--root-node {
          flex: 1 1 auto;
          min-height: 0px;
          min-width: 0px;
        }
      }
    }
  }
}
