<div
  class="stream-detail--messenger"
  [style.flex]="activeMessageContent ? '1 1 50%' : '1 1 auto'"
  [formGroup]="form"
>
  <div
    *ngIf="loading[stream._id]"
    [style.flex]="'1 1 auto'"
  ></div>

  <kido-messenger
    *ngIf="!loading[stream._id]"
    [messages]="messages[stream._id]"
    [active]="activeMessageId"
    (action)="onMessageAction($event)"
  ></kido-messenger>

  <div class="stream-detail--json-editor">
    <kido-input
      *ngIf="eventable"
      formControlName="event"
      placeholder="Event..."
    ></kido-input>

    <ngb-tabset
      formArrayName="args"
      [class.not-eventable]="!eventable"
    >
      <ngb-tab
        *ngFor="let arg of args.controls; let i = index"
        [id]="i"
      >
        <ng-template ngbTabTitle>
          <span>{{ i + 1 }}</span>
          <span
            *ngIf="eventable && args.controls.length > 1"
            class="tab--close-btn fas fa-times"
            (click)="onRemoveArg($event, i)"
          ></span>
        </ng-template>

        <ng-template ngbTabContent>
          <kido-json-editor
            *ngIf="arg"
            sendable
            expandable
            copyable
            [formControlName]="i"
            [class.eventable]="eventable"
            (copyValue)="onPropertyValueClicked($event)"
            (send)="onSend()"
          ></kido-json-editor>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <div
      *ngIf="eventable"
      class="tab--add-btn fas fa-plus-square"
      [class.editable]="eventable"
      (click)="onAddArg()"
    ></div>
  </div>
</div>

<div
  *ngIf="activeMessageContent"
  class="stream-detail--json"
  [style.flex]="activeMessageContent ? '1 1 50%' : '1 1 auto'"
>
  <kido-json-viewer
    closeable
    expanded
    [json]="activeMessageContent"
    (propertyValueClicked)="onPropertyValueClicked($event)"
    (closeClicked)="onClearMessage()"
  ></kido-json-viewer>
</div>
