<div class="stream-detail--form-group" [formGroup]="form">
  <div class="stream-detail--form-header">
    <kido-input
      formControlName="url"
      size="lg"
      placeholder="Url..."
      required
    >
      <div kidoInputPrepend>
        <kido-select
          size="lg"
          placeholder="Type..."
          formControlName="type"
        >
          <kido-option [value]="StreamType.WebSocket">
            <kido-socket-icon [type]="StreamType.WebSocket"></kido-socket-icon>
            {{ STREAM_TYPE_LABELS[StreamType.WebSocket] }}
          </kido-option>

          <kido-option [value]="StreamType.SignalR">
            <kido-socket-icon [type]="StreamType.SignalR"></kido-socket-icon>
            {{ STREAM_TYPE_LABELS[StreamType.SignalR] }}
          </kido-option>

          <kido-option [value]="StreamType.SocketIO">
            <kido-socket-icon [type]="StreamType.SocketIO"></kido-socket-icon>
            {{ STREAM_TYPE_LABELS[StreamType.SocketIO] }}
          </kido-option>
        </kido-select>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          size="lg"
          color="danger"
          ngbTooltip="Revert"
          [disabled]="areEqual || form.pristine"
          (click)="reset()"
        >
          <span class="fas fa-history"></span>
        </button>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          size="lg"
          color="success"
          ngbTooltip="Save"
          [disabled]="form.invalid || form.pristine || areEqual"
          (click)="save()"
        >
          <span class="fas fa-save"></span>
        </button>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          size="lg"
          [color]="connected ? 'danger' : 'info'"
          [ngbTooltip]="connected ? 'Disconnect' : 'Connect'"
          [disabled]="!form.value.url"
          (click)="toggle()"
        >
          <span class="fas fa-plug"></span>
        </button>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          size="lg"
          color="info"
          ngbTooltip="Send"
          [disabled]="form.invalid || !form.value.message || !isValidJSON || !connected"
          (click)="send.emit(form.value.message)"
        >
          <span class="fas fa-paper-plane"></span>
        </button>
      </div>
    </kido-input>
  </div>

  <ngb-tabset>
    <ngb-tab title="Messenger">
      <ng-template ngbTabContent>
        <div class="stream-detail--form-content">
          <kido-messenger
            [messages]="messages"
          ></kido-messenger>

          <kido-json-editor
            formControlName="message"
          ></kido-json-editor>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
