@import '../../../../../styles/variables';

.stream-detail {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  min-height: 0px;
  min-width: 0px;

  .stream-detail--messenger {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;

    .stream-detail--json-editor {
      position: relative;

      ngb-tabset {
        margin-top: 0 !important;

        &.not-eventable {
          .nav-tabs {
            display: none;
          }
        }

        .nav-tabs {
          background-color: #282a36;
          margin: 0 5px;
          border: 1px solid var(--hairline-soft);
          border-top: none;
          padding-left: 25px;

          .nav-link {
            padding: 2px 10px !important;
          }
        }
      }

      .tab--add-btn {
        top: 7px !important;

        &.editable {
          top: 28px !important;
        }
      }

      .tab--close-btn {
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          color: var(--danger);
        }
      }

      kido-input {
        margin: 0 5px;

        input {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-bottom: none;
          font-size: 10pt;
          background-color: #282a36;
          padding: 0px 10px;
          height: 25px;
        }
      }

      kido-json-editor {
        margin: 0px 8px 8px 8px;
        height: 100px;

        &.eventable {
          border-top: none;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;

          .CodeMirror {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
          }
        }
      }
    }
  }

  .stream-detail--json {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;

    .kido-json-viewer--root-node {
      flex: 1 1 auto;
      min-height: 0px;
      min-width: 0px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
  }
}
