.stream-detail {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  min-width: 0px;

  .stream-detail--form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0px;
    min-width: 0px;

    .stream-detail--form-header {
      margin-bottom: 10px;
      padding: 10px;

      .kido-input {
        .form-control {
          background-color: var(--bg-dark);
        }
      }

      .kido-select {
        .form-control {
          font-weight: bold;
        }
      }
    }

    .stream-detail--form-content {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      min-height: 0px;
      min-width: 0px;

      .stream-detail--messenger {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;

        kido-json-editor {
          max-height: 50%;
          overflow: auto;

          .CodeMirror {
            min-height: 60px;
          }
        }

        .stream-detail--message-json-toggler {
          position: absolute;
          right: 70px;
          bottom: 10px;
          z-index: 2;
        }

        .stream-detail--message-send {
          position: absolute;
          right: 10px;
          bottom: 10px;
          z-index: 2;
        }
      }

      .stream-detail--json {
        display: flex;
        position: relative;
        flex-direction: column;
        min-height: 0px;
        min-width: 0px;

        .kido-json-viewer--root-node {
          flex: 1 1 auto;
          min-height: 0px;
          min-width: 0px;
        }

        .stream-detail--json-clear {
          position: absolute;
          right: 10px;
          top: 10px;
        }

        .stream-detail--viewer-json-toggler {
          position: absolute;
          right: 10px;
          bottom: 10px;
          z-index: 2;
        }
      }
    }
  }
}
