<div class="stream-detail--form-group" [formGroup]="form">
  <div class="stream-detail--form-header">
    <kido-input
      formControlName="url"
      placeholder="Url..."
      required
    >
      <div kidoInputPrepend>
        <kido-select
          placeholder="Type..."
          formControlName="type"
        >
          <kido-option [value]="StreamType.WebSocket">
            <kido-socket-icon [type]="StreamType.WebSocket"></kido-socket-icon>
            <span class="kido-option--text">{{ STREAM_TYPE_LABELS[StreamType.WebSocket] }}</span>
          </kido-option>

          <kido-option [value]="StreamType.SignalR">
            <kido-socket-icon [type]="StreamType.SignalR"></kido-socket-icon>
            <span class="kido-option--text">{{ STREAM_TYPE_LABELS[StreamType.SignalR] }}</span>
          </kido-option>

          <kido-option [value]="StreamType.SocketIO">
            <kido-socket-icon [type]="StreamType.SocketIO"></kido-socket-icon>
            <span class="kido-option--text">{{ STREAM_TYPE_LABELS[StreamType.SocketIO] }}</span>
          </kido-option>

          <kido-option [value]="StreamType.SockJS">
            <kido-socket-icon [type]="StreamType.SockJS"></kido-socket-icon>
            <span class="kido-option--text">{{ STREAM_TYPE_LABELS[StreamType.SockJS] }}</span>
          </kido-option>
        </kido-select>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          color="danger"
          ngbTooltip="Revert"
          [disabled]="areEqual || form.pristine"
          (click)="reset()"
        >
          <span class="fas fa-history"></span>
        </button>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          color="success"
          ngbTooltip="Save"
          [disabled]="form.invalid || form.pristine || areEqual"
          (click)="save()"
        >
          <span class="fas fa-save"></span>
        </button>
      </div>

      <div kidoInputAppend>
        <button
          kido-button
          [color]="connected ? 'danger' : 'info'"
          [ngbTooltip]="connected ? 'Disconnect' : 'Connect'"
          [disabled]="!form.value.url"
          (click)="toggle()"
        >
          <span *ngIf="!connecting" class="fas fa-plug"></span>
          <span *ngIf="connecting" class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </kido-input>

    <kido-input
      *ngIf="form?.value.type !== StreamType.WebSocket && form?.value.type !== StreamType.SockJS"
      formControlName="event"
      placeholder="Event..."
    >
    </kido-input>
  </div>

  <ngb-tabset>
    <ngb-tab title="Messenger">
      <ng-template ngbTabContent>
        <div class="stream-detail--form-content">
          <div
            class="stream-detail--messenger"
            [style.flex]="message ? '1 1 50%' : '1 1 auto'"
          >
            <kido-messenger
              [messages]="messages[stream?._id]"
              [active]="message?._id"
              (selected)="onMessageSelected($event)"
              (action)="onMessageAction($event)"
            ></kido-messenger>

            <kido-json-editor
              formControlName="message"
            ></kido-json-editor>

            <kido-checkbox
             class="stream-detail--message-json-toggler"
             formControlName="json"
             color="info"
             [ngbTooltip]="!form.value.json ? 'Plain/Text' : 'JSON'"
            >
              <span class="fas fa-code"></span>
            </kido-checkbox>

            <button
              class="stream-detail--message-send"
              kido-icon-button
              color="info"
              ngbTooltip="Send"
              [disabled]="form.invalid || !form.value.message || (form.value.json && !isValidJSON) || !connected"
              (click)="send.emit(form.value.message)"
            >
              <span class="fas fa-paper-plane"></span>
            </button>
          </div>

          <div
            *ngIf="message"
            kidoFullscreen
            class="stream-detail--json"
            [style.flex]="message ? '1 1 50%' : '1 1 auto'"
          >
            <kido-json-viewer
              [json]="messageContent"
              [raw]="!json"
              (propertyValueClicked)="onPropertyValueClicked($event)"
            ></kido-json-viewer>

            <button
              class="stream-detail--json-clear"
              kido-icon-button
              color="secondary"
              (click)="onClearMessage()"
            >
              <span class="fas fa-times"></span>
            </button>

            <kido-checkbox
              class="stream-detail--viewer-json-toggler"
              color="info"
              [(ngModel)]="json"
              [ngModelOptions]="{ standalone: true }"
              [ngbTooltip]="!json ? 'Plain/Text' : 'JSON'"
            >
              <span class="fas fa-code"></span>
            </kido-checkbox>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Network">
      <ng-template ngbTabContent>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
