@import '../../../styles/box-shadow';

.input-group-prepend {
  .kido-dropdown {
    .dropdown {
      height: 100%;

      .dropdown-toggle {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.input-group-append {
  .kido-dropdown {
    .dropdown {
      height: 100%;

      .dropdown-toggle {
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.kido-dropdown {
  .dropdown-menu {
    background-color: var(--bg-darker);
    box-shadow: $box-shadow-lg;

    .dropdown-item {
      color: var(--text-muted);

      &:hover {
        color: var(--white);
        background-color: var(--bg-darker);
        filter: brightness(120%);
      }
    }
  }
}
