<div class="btn-group">
  <button
    class="btn"
    [ngClass]="classes"
    [disabled]="disabled"
    (click)="clicked.emit()"
  >
    <ng-content select="[kidoDropdownButton]"></ng-content>
  </button>

  <div
    class="btn-group"
    ngbDropdown
    [placement]="placement"
    (openChange)="openChange.emit($event)"
  >
    <button
      class="btn dropdown-toggle-split"
      [ngClass]="classes"
      [disabled]="disabled"
      ngbDropdownToggle
    ></button>
    <div
      class="dropdown-menu"
      ngbDropdownMenu
    >
      <ng-content select="[kidoDropdownItem]"></ng-content>
    </div>
  </div>
</div>
