.kido-input {
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    color: var(--white);
  }

  .form-control {
    background-color: var(--bg-darker);
    border-color: var(--hairline-regular);
    color: var(--white);
    outline: none;
    box-shadow: none;
    resize: none;

    &:hover {
      filter: brightness(150%);

      &:focus {
        filter: none;
      }
    }

    &:focus {
      background-color: var(--bg-darkest);
    }
  }
}
