.kido-input {
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .form-control {
    background-color: var(--bg-darkest);
    border-color: var(--hairline-strong);
    color: var(--white);
    outline: none;
    box-shadow: none;
    resize: none;
  }
}
