<label *ngIf="label" tabindex="-1" [for]="id">
  {{ label }}
</label>

<div *ngIf="type !== 'textarea'" class="input-group">
  <ng-content select="[kidoInputPrepend]"></ng-content>

  <input
    class="form-control"
    [ngClass]="classes"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [(ngModel)]="value"
    [maxlength]="maxLength"
    [minlength]="minLength"
  />
</div>

<textarea
  *ngIf="type === 'textarea'"
  class="form-control"
  [ngClass]="classes"
  [id]="id"
  [rows]="rows"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonly]="readonly"
  [required]="required"
  [(ngModel)]="value"
  [maxlength]="maxLength"
  [minlength]="minLength"
></textarea>
