@import '../../../styles/box-shadow';

.input-group-prepend {
  .kido-select {
    .dropdown {
      height: 100%;

      .dropdown-toggle {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.kido-select {
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    color: var(--text-primary);
    font-size: 11pt;
  }

  .form-control {
    display: flex;
    background-color: var(--bg-darker);
    border-color: var(--hairline-soft);
    color: var(--text-primary);
    outline: none;
    box-shadow: none;
    resize: none;

    &:hover {
      filter: brightness(150%);

      &:focus {
        filter: none;
      }
    }

    &:focus {
      background-color: var(--bg-darkest);
    }

    span {
      flex: 1 1 auto;
      text-align: left;
      margin-right: 10px;
    }
  }

  .dropdown-toggle {
    &:after {
      margin: auto;
      color: var(--text-muted);
    }
  }

  .dropdown-menu {
    width: 100%;
    background-color: var(--bg-darker);
    box-shadow: $box-shadow-lg;

    .dropdown-item {
      color: var(--text-primary);

      &:hover {
        color: var(--text-primary);
        background-color: var(--bg-darker);
        filter: brightness(120%);
      }
    }
  }
}
