@import '../../../styles/variables';

:host {
  display: flex;
  flex: 0 0 $actionbar-height;
  padding: 0 10px;
  border-top: 1px solid var(--hairline-soft);
  background-color: var(--bg-darker);
  color: var(--text-muted);

  .fas, .far {
    margin: 0 5px;
    cursor: pointer;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: var(--blood-orange);
    }
  }
}
