@import '../../../styles/variables';

:host {
  display: flex;
  flex: 0 0 $actionbar-height;
  padding: 0 10px;
  border-top: 1px solid var(--hairline-soft);
  background-color: var(--bg-darker);
  color: var(--text-muted);

  .fas, .far {
    font-size: 10pt;
    margin: auto 5px auto 10px;
    cursor: pointer;
    transition: color 0.15s ease-in-out;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--blood-orange);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
