@import '../../../styles/variables';

:host {
  display: flex;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background-color: var(--bg-darkest);
  color: var(--white);

  &.mac {
    padding-top: $titlebar-height;
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &.toolbar--menu-btn {
      @media only screen and (max-width: $sidebar-collapse-width) {
        display: none !important;
      }
    }
  }
}
