<button
  class="toolbar--menu-btn"
  kido-icon-button
  color="secondary"
  (click)="onMenu()"
>
  <span class="fas fa-bars"></span>
</button>

<div
  *ngIf="stream"
  class="toolbar--title ellipsis"
  (click)="onEdit(stream)"
>
  <div class="toolbar--title-text ellipsis">
    {{ stream.name }}
    <span class="fas fa-pencil-alt"></span>
  </div>

  <div class="toolbar--title-subtext ellipsis">
    {{ stream.description }}
  </div>
</div>

<div
  *ngIf="!stream"
  class="spacer"
></div>

<button
  *ngIf="stream"
  kido-icon-button
  color="danger"
  ngbTooltip="Clear Stream Messages"
  container="body"
  placement="bottom-right"
  [disabled]="connected"
  (click)="onClear()"
>
  <span class="fas fa-ban"></span>
</button>

<button
  *ngIf="stream"
  kido-icon-button
  color="danger"
  ngbTooltip="Delete Stream"
  container="body"
  placement="bottom-right"
  [disabled]="connected"
  (click)="onRemove()"
>
  <span class="fas fa-trash-alt"></span>
</button>
