<button
  class="toolbar--menu-btn"
  kido-icon-button
  color="secondary"
  (click)="onMenu()"
>
  <span class="fas fa-bars"></span>
</button>

<div class="spacer"></div>

<button
  *ngIf="stream"
  kido-icon-button
  color="danger"
  ngbTooltip="Clear Stream Messages"
  container="body"
  (click)="onClear()"
>
  <span class="fas fa-ban"></span>
</button>

<button
  *ngIf="stream"
  kido-icon-button
  color="danger"
  ngbTooltip="Delete Stream"
  container="body"
  (click)="onRemove()"
>
  <span class="fas fa-trash-alt"></span>
</button>

<button
  kido-button
  color="info"
  theme="outline"
  ngbTooltip="Add Stream"
  container="body"
  (click)="onAdd()"
>
  <span class="fas fa-plus"></span>
</button>
