@import '../../../styles/variables';

:host {
  display: flex;
  box-shadow: none;
  border-bottom: 1px solid var(--hairline-soft);
  background-color: var(--bg-darkest);
  color: var(--text-primary);

  &.mac {
    padding-top: 0;
  }

  button {
    &.toolbar--menu-btn {
      @media only screen and (max-width: $sidebar-collapse-width) {
        display: none !important;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar--title {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    margin-left: 5px;
    cursor: pointer;

    .toolbar--title-text {
      color: var(--text-primary);
      font-weight: bold;

      &:hover {
        text-decoration: underline;

        span {
          position: absolute;
          display: inline-block;
          font-size: 10pt;
        }
      }

      span {
        display: none;
        margin-left: 5px;
      }
    }

    .toolbar--title-subtext {
      font-size: 10pt;
      color: var(--text-muted);
    }
  }
}
