:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;

  kido-img-icon {
    text-align: center;
  }

  .about--version {
    text-align: center;
    padding: 10px;
  }
}
