<kido-split-dropdown (clicked)="add.emit()">
  <span kidoDropdownButton>
    Add <span class="fas fa-plus"></span>
  </span>

  <button
    kidoDropdownItem
    (click)="add.emit(StreamType.WebSocket)"
  >
    <kido-socket-icon [type]="StreamType.WebSocket"></kido-socket-icon>
    {{ STREAM_TYPE_LABELS[StreamType.WebSocket] }}
  </button>

  <button
    kidoDropdownItem
    (click)="add.emit(StreamType.SignalR)"
  >
    <kido-socket-icon [type]="StreamType.SignalR"></kido-socket-icon>
    {{ STREAM_TYPE_LABELS[StreamType.SignalR] }}
  </button>

  <button
    kidoDropdownItem
    (click)="add.emit(StreamType.SocketIO)"
  >
    <kido-socket-icon [type]="StreamType.SocketIO"></kido-socket-icon>
    {{ STREAM_TYPE_LABELS[StreamType.SocketIO] }}
  </button>

  <button
    kidoDropdownItem
    (click)="add.emit(StreamType.SockJS)"
  >
    <kido-socket-icon [type]="StreamType.SockJS"></kido-socket-icon>
    {{ STREAM_TYPE_LABELS[StreamType.SockJS] }}
  </button>
</kido-split-dropdown>
