<textarea #textarea></textarea>

<div class="kido-json-editor--actionbar">
  <span
    class="fas fa-code"
    container="body"
    [class.active]="!raw"
    [ngbTooltip]="raw ? 'JSON' : 'Plain/Text'"
    (click)="rawChanged.emit(!raw)"
  ></span>

  <span
    class="fas fa-align-left"
    ngbTooltip="Beautify"
    container="body"
    [class.disabled]="raw"
    [disableTooltip]="raw"
    (click)="onBeautify()"
  ></span>

  <span
    class="far fa-copy"
    ngbTooltip="Copy"
    container="body"
    (click)="onCopy()"
  ></span>

  <div class="spacer"></div>

  <span
    class="fas fa-paper-plane"
    ngbTooltip="Send"
    container="body"
    [class.disabled]="invalid"
    [disableTooltip]="invalid"
    (click)="onSend()"
  ></span>
</div>
