<textarea #textarea></textarea>

<div class="kido-json-editor--actionbar">
  <span
    class="fas fa-code"
    container="body"
    [class.active]="!raw"
    [ngbTooltip]="raw ? 'JSON' : 'Plain/Text'"
    (click)="rawChange.emit(!raw)"
  ></span>

  <span
    class="fas fa-align-left"
    ngbTooltip="Beautify"
    container="body"
    [class.disabled]="raw"
    [disableTooltip]="raw"
    (click)="onBeautify()"
  ></span>

  <span
    *ngIf="copyable"
    class="far fa-copy"
    ngbTooltip="Copy"
    container="body"
    (click)="onCopy()"
  ></span>

  <span
    *ngIf="expandable"
    class="fas fa-expand-arrows-alt"
    ngbTooltip="Expand Editor"
    container="body"
    (click)="onExpand()"
  ></span>

  <div class="spacer"></div>

  <span
    *ngIf="sendable"
    class="fas"
    [ngClass]="sendIcon"
    [ngbTooltip]="sendTooltip"
    container="body"
    [class.disabled]="!raw && invalid"
    [disableTooltip]="!raw && invalid"
    (click)="onSend()"
  ></span>
</div>
