.kido-messenger {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #282a36;
  border: 1px solid var(--hairline-strong);

  cdk-virtual-scroll-viewport {
    height: 100%;

    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }

  kido-message {
    .kido-message--bubble {
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }
    }
  }
}
