$arrow-size: 8px;
$border-size: 1px;
$inner-arrow-size: 7px;

.kido-message {
  display: flex;
  position: relative;
  padding-bottom: 5px;

  &.kido-message--active {
    .kido-message--bubble {
      max-width: 100%;
      width: 100%;
    }
  }

  &.kido-message--sent {
    flex-direction: row-reverse;
    padding-right: $arrow-size;

    .kido-message--bubble {
      box-shadow: 12px 0 0 -8px var(--success) inset;

      &:after {
        left: 100%;
        border-left: $arrow-size solid var(--hairline-strong);
      }

      &:before {
        left: 100%;
        border-left: $inner-arrow-size solid var(--bg-darker);
      }
    }
  }

  &.kido-message--received {
    flex-direction: row;
    padding-left: $arrow-size;

    .kido-message--bubble {
      box-shadow: -12px 0 0 -8px var(--info) inset;

      &:after {
        right: 100%;
        border-right: $arrow-size solid var(--hairline-strong);
      }

      &:before {
        right: 100%;
        border-right: $inner-arrow-size solid var(--bg-darker);
      }
    }
  }

  &.kido-message--json {
    .kido-message--bubble-text {
      font-style: italic;
    }
  }

  .kido-message--bubble {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 100%;
    max-width: 75%;
    border-radius: 3px;
    padding: 8px 10px;
    background-color: var(--bg-darker);
    border: $border-size solid var(--hairline-strong);
    color: var(--text-primary);

    &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: 5px;
      border: $arrow-size solid transparent;
    }

    &:before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: 6px;
      z-index: 2;
      border: $inner-arrow-size solid transparent;
    }

    &:hover {
      .kido-message--bubble-actions {
        display: block;
        position: absolute;
        top: -10px;
        right: 10px;
      }
    }

    .kido-message--bubble-actions {
      display: none;

      .btn {
        background-color: var(--bg-darkest);
        border: 1px solid var(--hairline-strong);
      }
    }

    .kido-message--bubble-event {
      font-size: 8pt;
      color: var(--text-muted);
    }

    .kido-message--bubble-text {
      margin: auto;
      max-width: 100%;
      width: 100%;
      font-size: 10pt;
      border-radius: 2px;
      padding: 3px 5px;
      background-color: var(--bg-darkest);
    }

    .kido-message--bubble-footer {
      display: flex;
      flex-direction: row;
      font-size: 8pt;
      color: var(--text-muted);

      .kido-message--bubble-timestamp {
        flex: 1;
      }
    }
  }
}
