<ngb-tabset
  [class.mac]="systemService.isMac$ | async"
  (tabChange)="onStreamTabChange($event)"
>
  <ngb-tab
    *ngFor="let stream of streamService.entities$ | async"
    [id]="stream._id"
  >
    <ng-template ngbTabTitle>
      <span class="tab-title ellipsis">{{ stream.name }}</span>
      <span class="tab-title--close fas fa-times" (click)="onRemove($event, stream)"></span>
    </ng-template>

    <ng-template ngbTabContent>
      <kido-stream-detail-header
        [form]="form"
        [stream]="stream"
        [connected]="streamService.connected$ | async"
        [connecting]="streamService.connecting$ | async"
        (save)="onSave(stream)"
        (connect)="onConnect(stream)"
        (disconnect)="onDisconnect(stream)"
      ></kido-stream-detail-header>

      <kido-stream-detail-sidebar [open]="menu$ | async">
        <kido-stream-detail
          [form]="form"
          [stream]="stream"
          [activeMessageId]="messageService.activeId$ | async"
          [loading]="messageService.loading$ | async"
          [messages]="messageService.messages$ | async"
          [connected]="streamService.connected$ | async"
          [connecting]="streamService.connecting$ | async"
          (selectMessage)="onSelectMessage($event)"
          (removeMessage)="onRemoveMessage($event)"
          (send)="onSend($event)"
        ></kido-stream-detail>
      </kido-stream-detail-sidebar>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<div
  class="tab--add-btn fas fa-plus-square"
  (click)="onAdd()"
></div>
