@import '../../../styles/variables';

.kido-stream {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;

  ngb-tabset {
    margin-top: 5px;

    &.mac {
      padding-top: $titlebar-height;
    }

    .nav-tabs {
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      padding-left: 35px;

      &::-webkit-scrollbar {
        display: none;
      }

      .nav-item {
        white-space: nowrap;

        .nav-link {
          padding: 5px 8px;

          &.active {
            .nav-link-active-border {
              display: block;
            }
          }

          .nav-link-header {
            display: flex;
            white-space: nowrap;
            max-width: 100px;
            width: 100px;

            .tab-title {
              margin: auto 10px auto 0;
            }

            .tab-title--close {
              margin: auto;

              &:hover {
                color: var(--danger);
              }
            }
          }

          .nav-link-active-border {
            position: absolute;
            display: none;
            width: 116px;
            height: 5px;
            margin-top: 3px;
            margin-left: -8px;
            background-color: var(--bg-obsidian);
          }
        }
      }
    }

    .tab-pane {
      &.active {
        flex-direction: column;
      }
    }
  }

  .tab--add-btn {
    position: absolute;
    left: 9px;
    top: 10px;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &.mac {
      top: 10px + $titlebar-height;
    }
  }
}
