@import '../../../styles/variables';

.kido-stream {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0px;
  min-width: 0px;

  ngb-tabset {
    margin-top: 5px;

    &.mac {
      padding-top: $titlebar-height;
    }

    .nav-tabs {
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      padding-left: 35px;

      .nav-item {
        white-space: nowrap;

        .nav-link {
          padding: 5px 8px;
          display: flex;

          .tab-title {
            margin: auto 10px auto 0;
            max-width: 100px;
          }

          .tab-title--close {
            margin: auto;

            &:hover {
              color: var(--danger);
            }
          }
        }
      }
    }

    .tab-pane {
      &.active {
        flex-direction: column;
      }
    }
  }

  .tab--add-btn {
    position: absolute;
    left: 9px;
    top: 10px;
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
