@import '../../../../../styles/variables';

:host {
  display: flex;
  flex: 1;
  min-height: 0px;
  min-width: 0px;
  background-color: var(--bg-darkest);

  .kido-sidebar {
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    min-width: 100px;
    max-width: 500px;
    background-color: var(--bg-obsidian);
    border-right: 1px solid var(--hairline-soft);

    .kido-sidebar--side-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      padding: 5px;
    }
  }

  .kido-sidebar--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    background-color: var(--bg-darkest);
  }
}
