/* You can add global styles to this file, and also import other style files */
@import './styles/index';

html, body {
  height: 100%;
  overflow: hidden;
  color: var(--text-muted);
  font-size: 10pt;
  background-color: var(--bg-darker);
}

*:focus {
  outline: none !important;
}
