/* You can add global styles to this file, and also import other style files */
@import './styles/index';

html, body {
  height: 100%;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--bg-darkest);
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

*:focus {
  outline: none !important;
}

.muted {
  color: var(--text-muted);
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
