<div class="modal-header">
  <div class="modal-title">STREAM</div>

  <button
    kido-icon-button
    color="secondary"
    (click)="close()"
  >
    <span class="fas fa-times"></span>
  </button>
</div>

<div
  class="modal-body"
  [formGroup]="form"
>
  <kido-select
    formControlName="type"
    label="Type"
    placeholder="Type..."
    required
  >
    <kido-option [value]="StreamType.WebSocket">
      <kido-socket-icon [type]="StreamType.WebSocket"></kido-socket-icon>
      {{ STREAM_TYPE_LABELS[StreamType.WebSocket] }}
    </kido-option>

    <kido-option [value]="StreamType.SignalR">
      <kido-socket-icon [type]="StreamType.SignalR"></kido-socket-icon>
      {{ STREAM_TYPE_LABELS[StreamType.SignalR] }}
    </kido-option>

    <kido-option [value]="StreamType.SocketIO">
      <kido-socket-icon [type]="StreamType.SocketIO"></kido-socket-icon>
      {{ STREAM_TYPE_LABELS[StreamType.SocketIO] }}
    </kido-option>

    <kido-option [value]="StreamType.SockJS">
      <kido-socket-icon [type]="StreamType.SockJS"></kido-socket-icon>
      {{ STREAM_TYPE_LABELS[StreamType.SockJS] }}
    </kido-option>
  </kido-select>

  <kido-input
    formControlName="name"
    label="Name"
    placeholder="Name..."
    required
  ></kido-input>

  <kido-input
    formControlName="url"
    label="Url"
    placeholder="Url..."
  ></kido-input>

  <kido-input
    formControlName="description"
    type="textarea"
    label="Description (Optional)"
    placeholder="Description..."
    rows="5"
  ></kido-input>
</div>

<div class="modal-footer">
  <button
    kido-button
    color="success"
    theme="outline"
    [disabled]="form.invalid || form.pristine"
    (click)="save()"
  >
    <span class="fas fa-save"></span> Save
  </button>

  <button
    kido-button
    color="secondary"
    (click)="close()"
  >Cancel</button>
</div>
