@mixin kidoIconButtonColor($color) {
  &.btn-#{$color} {
    opacity: 0.5;

    &:hover {
      color: var(--#{$color}) !important;
      opacity: 1 !important;

      &:disabled {
        color: initial;
        opacity: 0.5;
      }
    }
  }
}
