.kido-icon-button {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: var(--text-muted);

  &:hover {
    color: var(--white);
  }
}

.kido-button {
  font-weight: bold;

  &.btn-secondary {
    color: var(--text-muted);
    border-color: transparent;

    &:hover {
      color: var(--white);
      background-color: var(--secondary);
      filter: brightness(120%);
    }
  }
}
