@import '../../../styles/variables';

$type-colors: (
  string: #f1fa8c,
  number: #bd93f9,
  boolean: #bd93f9,
  date: #FF6B6B,
  function: #ff79c6,

  'null': #bd93f9,
  undefined: #bd93f9
);

.kido-json-viewer {
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: nowrap;
  font-size: 10pt;

  &.kido-json-viewer--root-node {
    border: 1px solid var(--hairline-soft);

    .kido-json-viewer--content {
      overflow-y: auto;
      padding: 0px 0 0px 20px;
    }
  }

  &.kido-json-viewer--raw {
    white-space: pre;
    color: #efefef;
  }

  .kido-json-viewer--actionbar {
    display: flex;
    font-size: 10pt;
    padding: 3px;

    .spacer {
      flex: 1 1 auto;
    }

    span {
      border-radius: $border-radius-md;
      padding: 10px;
      opacity: 0.7;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {
        opacity: 1;
        background-color: var(--bg-dark);
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.3 !important;
        background-color: transparent !important;
      }
    }
  }

  .kido-json-viewer--content {
    padding-left: 12px;
    position: relative;

    .kido-json-viewer--nodes {
      .kido-json-viewer--node {
        display: flex;

        &.expandable > .kido-json-viewer--node-key-container {
          cursor: pointer;
        }

        &.expanded > .kido-json-viewer--node-key-container > .kido-json-viewer--node-toggler {
          &:after {
            transform: rotate(90deg);
          }
        }

        &.expanded {
          &.expandable {
            flex-direction: column;
          }
        }

        @each $type, $color in $type-colors {
          &.kido-json-viewer--node-type-#{$type} {
            .kido-json-viewer--node-value {
              color: $color;
            }
          }
        }

        .kido-json-viewer--node-key-container {
          display: flex;

          .kido-json-viewer--node-key {
            color: #66d9ef;
            user-select: none;
          }

          .kido-json-viewer--node-separator {
            margin-right: 5px;
            color: #fff;
            user-select: none;
          }

          .kido-json-viewer--node-toggler {
            position: absolute;
            margin-left: -14px;
            margin-top: 5px;
            font-size: .8em;
            line-height: 1.2em;
            vertical-align: middle;
            color: #787878;
            user-select: none;

            &:after {
              display: inline-block;
              content: "►";
              transition: transform 0.1s ease-in;
            }
          }
        }

        .kido-json-viewer--node-value {
          flex: 1;
          overflow-x: hidden;
          color: #999;
          cursor: copy;
        }
      }
    }
  }
}
