@import '../../../styles/variables';

:host {
  display: flex;
  flex: 1;

  &.mac {
    .kido-sidebar {
      padding-top: $titlebar-height;
    }
  }

  .kido-sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
  }

  .kido-sidebar--content {
    flex: 1;
  }
}
