@import '../../../styles/variables';

:host {
  display: flex;
  flex: 1;
  min-height: 0px;
  min-width: 0px;
  background-color: var(--bg-darkest);

  &.mac {
    .kido-sidebar,
    .kido-sidebar--content {
      padding-top: $titlebar-height;
    }
  }

  .kido-sidebar {
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    min-width: 100px;
    max-width: 500px;
    background-color: var(--bg-obsidian);
    border-right: 1px solid var(--hairline-soft);

    .kido-sidebar--side-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      max-width: 100%;

      &.kido-sidebar--empty {
        font-size: 35pt;
        height: 100%;
        opacity: 0.5;

        span {
          margin: auto;
        }
      }
    }

    @media only screen and (max-width: $sidebar-collapse-width) {
      display: none !important;
    }
  }

  .kido-sidebar--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    background-color: var(--bg-darkest);
  }
}
