<div
  *ngIf="open"
  class="kido-sidebar"
  [style.width.px]="width"
>
  <div
    class="kido-sidebar--side-content"
    [class.kido-sidebar--empty]="streams.length === 0"
  >
    <kido-stream-list-item
      *ngFor="let stream of streams"
      [class.active]="stream._id === active"
      [stream]="stream"
      [connected]="connected[stream._id]"
      (click)="navigate(stream)"
    ></kido-stream-list-item>

    <span
      *ngIf="streams.length === 0"
      class="fas fa-cubes"
    ></span>
  </div>

  <kido-horizontal-split
    (onresize)="onResize($event)"
  ></kido-horizontal-split>
</div>

<div class="kido-sidebar--content">
  <ng-content select="kido-toolbar"></ng-content>
  <ng-content></ng-content>
</div>
