<div
  class="kido-sidebar"
  [style.width.px]="width"
  [style.display]="open ? 'flex' : 'none'"
>
  <div class="kido-sidebar--side-content">
    <kido-stream-list-item
      *ngFor="let stream of streams"
      [class.active]="stream._id === active"
      [stream]="stream"
      [connected]="streamConnected[stream._id]"
      [routerLink]="['/stream/', stream._id]"
    ></kido-stream-list-item>
  </div>

  <kido-horizontal-resize-bar
    (onresize)="onResize($event)"
  ></kido-horizontal-resize-bar>
</div>

<div class="kido-sidebar--content">
  <ng-content select="kido-toolbar"></ng-content>
  <ng-content></ng-content>
</div>
