@import '../../../styles/variables';

:host {
  display: flex;
  flex: 1;
  background-color: var(--bg-darkest);

  &.mac {
    .kido-sidebar {
      padding-top: $titlebar-height;
    }
  }

  .kido-sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 200px;
    max-width: 500px;
    border-right: 1px solid var(--hairline-strong);

    .kido-sidebar--side-content {
      flex: 1;
    }
  }

  .kido-sidebar--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-darkest);
  }
}
